.result-score{
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    color: #f72a2a;

}

.score-container{
    font-style: normal !important;
}

.result h1{
    font-size: 30px;
}



